$color-1: #030303;
$color-2: #fff;
$color-3: #818181;

//mobile landscape
@media only screen and (min-device-width: 568px) and (min-device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    .aboutContent {
      width: 100%;
      height: 100%;
      margin-left: 1rem;
      margin-right: 1rem;

      .aboutTitle {
        display: flex;
        align-items: center;
        h2 {
          font-size: 2rem;
        }

        .hr {
          width: 20rem;
          height: 2px;
          background-color: rgb(155, 153, 153);
          margin-left: 2rem;
        }
      }

      .aboutBox {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;

        .aboutBox_text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          line-height: 1.5rem;
          height: 80%;
          font-size: 14px;
          flex: 0.7;

          p:nth-child(2) {
            display: none;
          }

          ul {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 0.5rem;
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              list-style-type: none;

              div {
                height: 15px;
                width: 15px;
                background-color: $color-2;
                margin-right: 1rem;
                border-radius: 50%;
              }
            }
          }
        }

        .image {
          flex: 0.4;
          display: flex;
          width: 100%;
          height: 60%;
          clip-path: circle(41.4% at 50% 48%);
        }
      }
    }
  }
}

// mobile version

@media screen and (max-width: 450px) {
  .about {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    .aboutContent {
      width: 100%;
      height: 100%;
      margin-left: 1rem;
      margin-right: 1rem;

      .aboutTitle {
        display: flex;
        align-items: center;
        h2 {
          font-size: 1.5rem;
        }

        .hr {
          width: 40%;
          height: 3px;
          background-color: rgb(155, 153, 153);
          margin-left: 2rem;
        }
      }

      .aboutBox {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 80vh;

        .aboutBox_text {
          order: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          font-size: 13px;
          flex: 0.5;

          p {
            line-height: 1.5rem;
            padding-bottom: 3%;
          }

          p:nth-child(2) {
            display: none;
          }

          ul {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 0.5rem;
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              list-style-type: none;

              div {
                height: 15px;
                width: 15px;
                background-color: $color-2;
                margin-right: 1rem;
                border-radius: 50%;
              }
            }
          }
        }

        .image {
          flex: 0.5;
          display: flex;
          width: 80%;
          height: 80%;
          clip-path: circle(41.4% at 50% 48%);
          order: 1;
        }
      }
    }
  }
}

// # desktop version

@media screen and (min-width: 768px) {
  .about {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    .aboutContent {
      width: 100%;
      height: 100%;
      margin-left: 7rem;
      margin-right: 7rem;

      .aboutTitle {
        display: flex;
        align-items: center;
        h2 {
          font-size: 2rem;
        }

        .hr {
          width: 20rem;
          height: 2px;
          background-color: rgb(155, 153, 153);
          margin-left: 2rem;
        }
      }

      .aboutBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .aboutBox_text {
          display: flex;
          flex-direction: column;
          min-height: 70%;
          flex: 0.6;

          p {
            padding-top: 0.5rem;
          }

          ul {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 0.5rem;
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              list-style-type: none;

              div {
                height: 15px;
                width: 15px;
                background-color: $color-2;
                margin-right: 1rem;
                border-radius: 50%;
              }
            }
          }
        }

        .image {
          flex: 0.4;
          display: flex;
          width: 100%;
          height: 70%;
          clip-path: circle(41.4% at 50% 48%);
        }
      }
    }
  }
}
