$color-1: #030303;
$color-2: #fff;
$color-3: #818181;

@media screen and (min-width: 768px) {
  .contact {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    .contact__container {
      display: grid;
      place-items: center;
      height: 90vh;
      width: 100%;
      .contact__heading {
        display: grid;
        place-items: center;
        text-align: center;
        h4 {
          font-size: 2.5rem;
          color: #e9e9e9;
        }
        p {
          max-width: 70%;
          font-size: 1rem;
          color: #c0c0c0;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        flex-grow: 3;

        input,
        textarea {
          background-color: #1f1f1f80;
          border: none;
          outline: none;
          color: #fff;
          margin-bottom: 0.5rem;
          height: 2.5rem;
          box-shadow: inset 0 0 10px #000000b6;
          padding-left: 1rem;
        }

        input::placeholder {
          color: rgb(221, 221, 221);
        }

        textarea::placeholder {
          color: rgb(221, 221, 221);
        }

        input:-ms-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea:-ms-input-placeholder {
          color: rgb(221, 221, 221);
        }

        input::-webkit-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea::-webkit-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea {
          min-height: 7rem;
          padding-top: 1rem;
        }

        button {
          height: 2.5rem;
          background-color: $color-1;
          color: #fff;
          outline: none;
          border: 1px solid #fff;
          transition: 0.5s ease;
          cursor: pointer;
          border-radius: 3px;
          &:hover {
            background-color: #2c2c2c;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .contact {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    .contact__container {
      display: grid;
      place-items: center;
      height: 90vh;
      width: 100%;
      .contact__heading {
        display: grid;
        place-items: center;
        text-align: center;
        h4 {
          font-size: 2rem;
          color: #e9e9e9;
        }
        p {
          max-width: 90%;
          font-size: 0.9rem;
          color: #c0c0c0;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        flex-grow: 3;

        input,
        textarea {
          background-color: #1f1f1f80;
          border: none;
          outline: none;
          color: #fff;
          margin-bottom: 0.5rem;
          height: 2.5rem;
          box-shadow: inset 0 0 10px #000000b6;
          padding-left: 1rem;
        }

        input::placeholder {
          color: rgb(221, 221, 221);
        }

        textarea::placeholder {
          color: rgb(221, 221, 221);
        }

        input:-ms-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea:-ms-input-placeholder {
          color: rgb(221, 221, 221);
        }

        input::-webkit-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea::-webkit-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea {
          min-height: 7rem;
          padding-top: 1rem;
        }

        button {
          height: 2.5rem;
          background-color: $color-1;
          color: #fff;
          outline: none;
          border: 1px solid #fff;
          transition: 0.5s ease;
          cursor: pointer;
          border-radius: 3px;
          &:hover {
            background-color: #2c2c2c;
          }
        }
      }
    }
  }
}

@media (min-width: 568px) and (min-height: 320px) {
  .contact {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    .contact__container {
      display: grid;
      place-items: center;
      height: 90vh;
      width: 100%;
      .contact__heading {
        display: grid;
        place-items: center;
        text-align: center;
        h4 {
          font-size: 1.8rem;
          color: #e9e9e9;
        }
        p {
          max-width: 90%;
          font-size: 0.8rem;
          color: #c0c0c0;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        flex-grow: 3;

        input,
        textarea {
          background-color: #1f1f1f80;
          border: none;
          outline: none;
          color: #fff;
          margin-bottom: 0.5rem;
          height: 2rem;
          box-shadow: inset 0 0 10px #000000b6;
          padding-left: 1rem;
        }

        input::placeholder {
          color: rgb(221, 221, 221);
        }

        textarea::placeholder {
          color: rgb(221, 221, 221);
        }

        input:-ms-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea:-ms-input-placeholder {
          color: rgb(221, 221, 221);
        }

        input::-webkit-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea::-webkit-input-placeholder {
          color: rgb(221, 221, 221);
        }

        textarea {
          min-height: 3rem;
          padding-top: 1rem;
        }

        button {
          height: 2.5rem;
          background-color: $color-1;
          color: #fff;
          outline: none;
          border: 1px solid #fff;
          transition: 0.5s ease;
          cursor: pointer;
          border-radius: 3px;
          &:hover {
            background-color: #2c2c2c;
          }
        }
      }
    }
  }
}
