@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-1: #030303;
$color-2: #fff;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: $color-1;
}
 

    // .projects__container::-webkit-scrollbar-track {
    //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //   border-radius: 10px;
    // }

    // .projects__container::-webkit-scrollbar-thumb {
    //   border-radius: 10px;
    //   --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    //   background-color: rgb(77, 77, 77);
    // }