$color-1: #030303;
$color-2: #fff;
$color-3: #a7a7a7;

@media screen and (min-width: 768px) {
  .hero {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    scroll-snap-align: start;

    .hero_container {
      width: 100%;
      margin-left: 7rem;

      .socialIcons {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 8%;
        bottom: 17%;

        div {
          height: 10rem;
          width: 2px;
          background-color: $color-2;
          border-radius: 2px;
        }

        a {
          margin-top: 1rem;
        }
      }

      p {
        color: $color-3;
        width: 50%;
        line-height: 25px;
        font-size: 1rem;
      }

      h1,
      h2 {
        font-size: 4rem;
        line-height: 80px;
      }

      button {
        margin-top: 1.5rem;
        width: 12rem;
        height: 3rem;
        background-color: transparent;
        color: $color-2;
        border: 1px solid $color-3;
        border-radius: 4px;
        transition: 0.3s ease;
      }

      button:hover {
        background-color: rgb(68, 67, 67);
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    scroll-snap-align: start;

    .hero_container {
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      p {
        color: $color-3;
        width: 100%;
        line-height: 25px;
        font-size: 1rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 50px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 1rem;
      }

      button {
        margin-top: 1.5rem;
        width: 10rem;
        height: 3rem;
        background-color: transparent;
        color: $color-2;
        border: 1px solid $color-3;
        border-radius: 4px;
        transition: 0.3s ease;
      }

      button:hover {
        background-color: rgb(68, 67, 67);
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .hero {
    color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    scroll-snap-align: start;

    .hero_container {
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      p {
        color: $color-3;
        width: 100%;
        line-height: 25px;
        font-size: 1rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 50px;
        margin-bottom: 0.5rem;
        margin-top: 0.2rem;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 0.2rem;
      }

      button {
        margin-top: 0.5rem;
        width: 10rem;
        height: 2.5rem;
        background-color: transparent;
        color: $color-2;
        border: 1px solid $color-3;
        border-radius: 4px;
        transition: 0.3s ease;
      }

      button:hover {
        background-color: rgb(68, 67, 67);
      }
    }
  }
}

@media only screen and (min-device-width: 812px) and (min-device-height: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    scroll-snap-align: start;

    .hero_container {
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      p {
        color: $color-3;
        width: 100%;
        line-height: 25px;
        font-size: 1rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 50px;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 1rem;
      }

      button {
        margin-top: 1.5rem;
        width: 10rem;
        height: 3rem;
        background-color: transparent;
        color: $color-2;
        border: 1px solid $color-3;
        border-radius: 4px;
        transition: 0.3s ease;
      }

      button:hover {
        background-color: rgb(68, 67, 67);
      }
    }
  }
}
