$color-1: #030303;
$color-2: #fff;
$color-3: #818181;

.project {
  color: $color-2;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

  .project__content {
    height: 100%;
    width: 85%;
    margin: 0 auto;

    .projectTitle {
      display: flex;
      align-items: center;
      margin-top: 1%;
      margin-bottom: 1%;
      h2 {
        font-size: 2rem;
      }

      .hr {
        width: 20rem;
        height: 2px;
        background-color: rgb(155, 153, 153);
        margin-left: 2rem;
      }
    }

    .projects__container::-webkit-scrollbar {
      width: 7px;
      background-color: rgba(20, 20, 20, 0.87);
      border-radius: 5px;
    }

    .projects__container::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    .projects__container::-webkit-scrollbar-thumb {
      border-radius: 10px;
      --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      background-color: rgb(77, 77, 77);
    }

    .projects__container {
      width: 100%;
      height: 62vh;
      scroll-snap-type: y mandatory;
      scrollbar-track-color: transparent;
      overflow-y: scroll;
      padding-right: 1rem;

      .project__card {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 1rem;
        scroll-snap-align: start;

        .project__thumbnail {
          display: flex;
          width: 55%;
          position: absolute;
          height: 100%;

          .thumb {
            position: relative;
            width: 100%;
            height: 100%;

            div {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #22222294;
              transition: 0.4s ease-in-out;

              &:hover {
                background-color: transparent;
              }
            }
          }
        }

        .project__description {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-end;
          width: 100%;
          height: 100%;

          h4 {
            font-size: 1.75rem;
          }

          .textSummary {
            width: 60%;
            text-align: right;
            padding: 1.5rem;
            font-size: 1rem;
            background-color: #111111;
            z-index: 1;
            -webkit-box-shadow: 2px 2px 15px 5px rgba(79, 79, 79, 0.42);
            box-shadow: 2px 2px 15px 5px rgba(79, 79, 79, 0.42);
            span {
              width: 100%;
            }
          }

          .links {
            display: flex;
            width: 7%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .project {
    color: $color-2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;

    .project__content {
      height: 100%;
      width: 85%;
      margin: 0 auto;

      .projectTitle {
        display: flex;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 7%;
        h2 {
          font-size: 1.1rem;
        }

        .hr {
          width: 20%;
          height: 2px;
          background-color: rgb(155, 153, 153);
          // margin-left: .5em;
        }
      }

      .project__card {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 60%;
        -webkit-box-shadow: 1px 2px 15px 3px rgba(33, 33, 33, 0.87);
        box-shadow: 1px 2px 15px 3px rgba(33, 33, 33, 0.87);

        .project__thumbnail {
          display: flex;
          width: 100%;
          position: absolute;
          height: 100%;

          .thumb {
            position: relative;
            width: 100%;
            height: 100%;

            div {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #22222294;
              transition: 0.4s ease-in-out;

              &:hover {
                background-color: transparent;
              }
            }
          }
        }

        .project__description {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          background-color: #131313af;
          align-items: flex-start;
          width: 100%;
          height: 100%;
          z-index: 7;
          padding: 1.5rem;

          h4 {
            font-size: 1.75rem;
          }

          .textSummary {
            width: 100%;
            text-align: left;
            font-size: 1rem;
            box-shadow: none;
            padding: 0;
            background-color: transparent;
            z-index: 1;
            span {
              width: 100%;
            }
          }

          .links {
            display: flex;
            width: 30%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}
